[submodule "TwitchLib.PubSub"]
	path = TwitchLib.PubSub
	url = https://github.com/TwitchLib/TwitchLib.PubSub
[submodule "TwitchLib.Client"]
	path = TwitchLib.Client
	url = https://github.com/TwitchLib/TwitchLib.Client
[submodule "TwitchLib.Api"]
	path = TwitchLib.Api
	url = https://github.com/TwitchLib/TwitchLib.Api
[submodule "TwitchLib.WebSocket"]
	path = TwitchLib.WebSocket
	url = https://github.com/TwitchLib/TwitchLib.WebSocket
[submodule "TwitchLib.EventSub.Websockets"]
	path = TwitchLib.EventSub.Websockets
	url = https://github.com/TwitchLib/TwitchLib.EventSub.Websockets.git
