[submodule "TwitchLib.Api"]
	path = TwitchLib.Api
	url = https://github.com/TwitchLib/TwitchLib.Api
[submodule "TwitchLib.EventSub.Websockets"]
	path = TwitchLib.EventSub.Websockets
	url = https://github.com/TwitchLib/TwitchLib.EventSub.Websockets.git
